<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>User Registration</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
<div align="center">
    <h1>User Registration</h1>
    <form action="#" th:action="@{/register}" method="post" th:object="${user}">
        <label>First Name :</label>
        <input type="text" th:field="*{name}" /><br/>
 
        <label>Last Name :</label>
        <input type="text" th:field="*{email}" /><br/>
 
        <label>Telephone Number :</label>
        <input type="text" th:field="*{password}" /><br/>
 
        <label>E-mail :</label>
        <input type="text" th:field="*{birthday}" /><br/>
 
        <label>Gender :</label>
        <input type="radio" th:field="*{gender}" value="Male" />Male
        <input type="radio" th:field="*{gender}" value="Female" />Female<br/>
        
        <label>Address :</label>
        <textarea rows="10" cols="25" th:field="*{note}"></textarea>
        <br/>
 
        <label>Profession :</label>
        <select th:field="*{profession}">
            <option th:each="p : ${testList}" th:value="${p}" th:text="${p}" />
        </select>
        <br/>
 
        <label>Married?</label>
        <input type="checkbox" th:field="*{married}" /><br/>
 
        
 
        <button type="submit" class="register-button">Register</button>    
    </form>
</div>
</body>
</html>
