<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>User Registration</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
<div align="center">
    <h1>User Registration</h1>
    <form action="#" th:action="@{/register}" method="post" th:object="${user}">
        <label class="form-label">First Name :</label>
        <input class="form-input" type="text" th:field="*{firstName}" /><br/>
 
        <label class="form-label">Last Name :</label>
        <input class="form-input" type="text" th:field="*{lastName}" /><br/>
 
        <label class="form-label">Telephone Number :</label>
        <input class="form-input" type="text" th:field="*{telephoneNumber}" /><br/>
 
        <label class="form-label">E-mail :</label>
        <input class="form-input" type="text" th:field="*{email}" /><br/>
        
 
        <label class="form-label">Gender :</label>
        <input class="form-radio" type="radio" th:field="*{gender}" value="Male" />Male
        <input class="form-radio" type="radio" th:field="*{gender}" value="Female" />Female<br/>
        
        <label class="form-label">Address :</label>
        <textarea class="form-textarea" rows="10" cols="25" th:field="*{address}"></textarea>
        <br/>
 
        <label class="form-label">Course :</label>
        <select class="form-select" th:field="*{course}">
            <option th:each="p : ${course}" th:value="${p}" th:text="${p}" />
        </select>
        <br/>

        <button type="submit" class="register-button">Register</button>    
    </form>
</div>
</body>
</html>
